.logs {
  margin: 0 0 0 60px;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: #f7f7f7;
  min-height: 100vh;

  & header {
    display: flex;
    margin: 2rem;

    & h2 {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  & dialog {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    max-width: 600px;
    width: 90%;
    padding: 2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    & h3 {
      font-size: 2rem;
      margin: 0 0 1rem;
    }

    & > div {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;
      column-gap: 2rem;

      & p {
        width: calc(50% - 2rem);
        display: flex;
        flex-direction: column;

        &:last-child {
          width: calc(100% - 2rem);
        }

        & span:first-child {
          font-weight: bold;
          margin: 0 0 0.25rem;
        }
      }
    }

    & button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.5rem 0.75rem;
      border: none;
      background-color: #e84a5f;
      color: white;
      border-radius: 0.25rem;

      &:hover {
        background-color: #28a745;
        cursor: pointer;
        color: white;
      }
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  > * > p {
    text-align: center;
    margin: 2rem auto;
    font-size: 2rem;
  }

  & input,
  select,
  button {
    font-size: 0.9rem !important;
  }

  & .search-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.9rem;
    gap: 1rem;
    width: 80%;
    margin: 0 auto;

    & label {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      align-items: flex-start;
      color: #666;

      &:has(input, select) {
        flex: 1;
      }

      & input,
      & select {
        color: #000;
        border-radius: 0.25rem;
        border: none;
        background-color: white;
        outline: solid #d9d9d9 1px;
        width: calc(100% - 2rem);
        padding: 0.5rem 0.75rem;
      }

      & select {
        width: calc(100%);
      }
    }

    & button {
      padding: 0.5rem 0.75rem;
      border: none;
      background-color: #d9d9d9;
      color: #666;
      border-radius: 0.25rem;
      outline: solid #d9d9d9 1px;

      &:hover {
        background-color: #e84a5f;
        cursor: pointer;
        color: white;
      }
    }
  }

  & .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1rem auto;
    padding: 1.5rem 0.5rem;
    border-radius: 1rem;
    width: min(calc(100% - 2rem), 1200px);
  }

  & table {
    border-collapse: collapse;
    border: none;
    width: 100%;

    & button {
      padding: 0.25rem 2rem;
      font-size: inherit;
    }

    & thead th {
      font-weight: normal !important;
      background-color: #f1f1f1;
      padding: 0.5rem 1rem;
      border-left: solid 1rem white;
      border-right: solid 1rem white;
    }

    & td {
      border: 1px solid #d9d9d9;
      padding: 0.5rem 1rem;

      & button {
        border: none;
        background-color: #28a745;
        color: white;
        border-radius: 0.25rem;
        width: 100%;

        &:hover {
          background-color: #e84a5f;
          cursor: pointer;
        }
      }
    }

    & tbody {
      color: #666;

      & tr:first-child td {
        border-top: none;
      }
      & tr td:first-child {
        border-left: none;
      }
      & tr td:last-child {
        border-right: none;
      }

      & tr:hover {
        background: #f1f1f1;
        color: #000;
      }
    }
  }

  & .table-pager {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    color: #666;

    & button {
      font-size: inherit;
      padding: 0.5rem 0.75rem;
      border: none;
      background-color: white;
      color: #666;
      border-radius: 0.5rem;
      outline: solid #d9d9d9 1px;

      &:hover {
        background-color: #e84a5f;
        cursor: pointer;
        color: white;
      }

      &:disabled {
        background-color: unset;
        cursor: unset;
        color: unset;
        outline: unset;
      }
    }
  }
}
