.logs {
  margin: 0 0 0 60px;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: #f7f7f7;
  min-height: 100vh;

  & .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1rem 0;
    padding: 1.5rem 0.5rem;
    border-radius: 1rem;
    width: min(100%, 1200px);
  }

  & input {
    font-size: inherit;
  }

  & table {
    border-collapse: collapse;
    border: none;
    width: 100%;

    & button {
      padding: 0.25rem 2rem;
      font-size: inherit;
    }

    & thead {
      font-weight: bold;

      & th {
        background-color: #f1f1f1;
        padding: 0.5rem 1rem;
        border-left: solid 1rem white;
        border-right: solid 1rem white;
      }
    }

    & td {
      border: 1px solid #d9d9d9;
      padding: 0.5rem 1rem;

      & button {
        border: none;
        background-color: #28a745;
        color: white;
        width: 100%;

        &:hover {
          background-color: #e84a5f;
          cursor: pointer;
        }
      }
    }

    & tbody {
      color: #666;

      & tr:first-child td {
        border-top: none;
      }
      & tr td:first-child {
        border-left: none;
      }
      & tr td:last-child {
        border-right: none;
      }

      & tr:hover {
        background: #f1f1f1;
        color: #000;
      }
    }
  }

  & .table-pager {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    color: #666;

    & button {
      font-size: inherit;
      padding: 0.5rem 0.75rem;
      border: none;
      border-radius: 0.5rem;
      background-color: white;
      color: #666;
      outline: solid #d9d9d9 1px;

      &:hover {
        background-color: #e84a5f;
        cursor: pointer;
        color: white;
      }

      &:disabled {
        background-color: unset;
        cursor: unset;
        color: unset;
        outline: unset;
      }
    }
  }
}
