# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.gitignore
*.md
.git

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

.parcel-cache

.github
build
node_modules

packages/**/.cache
packages/**/node_modules
packages/**/dist
