{
  "extends": "airbnb",
  "parser": "react-scripts/node_modules/babel-eslint",
  "rules": {
    "react/forbid-prop-types": "off",
    "react/no-array-index-key": "off",
    "react/jsx-no-duplicate-props": ["error", { "ignoreCase": false }],
    "react/jsx-props-no-spreading": ["error", {
      "exceptions": ["item.component"]
    }],
    "template-curly-spacing" : "off",
    "indent": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "env": {
    "browser": true
  }
}
