/* Indicadores */
*:focus {
  outline: none;
}

.wrapperIndicators {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: min-content auto;
  gap: 0;
  grid-template-areas:
    "leftnav-title countD"
    "leftnav-filters masonry-cards";
  background-color: #eeeeec;
  min-height: calc(100vh - 269px);
  overflow-y: scroll;
}

.wrapperIndicators.full-content {
  grid-template-areas:
    "leftnav-title countD"
    "masonry-cards masonry-cards";
}

.leftnav-title {
  grid-area: leftnav-title;
}

.leftnav-filters {
  grid-area: leftnav-filters;
}

.leftnav-filters.hide {
  display: none;
}

.masonry-cards {
  grid-area: masonry-cards;
}

.countD {
  grid-area: countD;
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 25px 0 10px 0;
  border-bottom: 1px solid #e84a5f;
  width: 290px;
  max-width: 290px;
  display: flex;
  justify-content: space-between;
  color: #03344b;
}

.countD svg {
  color: #e84a5f;
  font-size: 22px;
}

.downloadAll {
  fill: #e84a5f;
  border-color: transparent;
  margin-top: -5px;
  cursor: pointer;
}

.leftnav-title,
.leftnav-filters {
  background-color: #03344b;
  color: #fff;
}

.card2 h3 {
  padding: 24px 15px 3px 15px;
  color: #f8f8f8;
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-bottom: 1px solid #e6e6e6;
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.card2 .text {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.closed-filters * {
  color: #03344b;
}

.closed-filters h3 {
  border-color: #03344b;
}

.closed-filters {
  background-color: transparent;
}

.tagBox {
  margin: 5px 0 !important;
}

.tagBox > div:nth-child(1) svg {
  color: #fff;
}

.tagCat {
  color: #fff !important;
  font-size: 1.15rem;
}

.tagCat .MuiAccordionSummary-content svg {
  font-size: 13px;
}

.tagCat > div {
  display: flex;
  justify-content: space-between;
}

.tagOptions input[type="checkbox"] {
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}
