.monitoring-root {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.monitoring-body {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: red;
}

.sidebar-root {
  position: absolute;
  isolation: isolate;
  height: 100%;
  z-index: 1000;
}

.sidebar-paper {
  overflow: hidden;

  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  transition: width 0.3s;
  border-radius: 0 !important;
}

.sidebar-list {
  margin-top: 6rem;
}

.sidebar-button {
  padding: 0.75rem 0.5rem;
}

.sidebar-icon {
  min-width: 0;
  margin-right: 1rem;
}

.sidebar-icon-collapsed {
  margin-right: auto;
}

.sidebar-toggle {
  position: absolute;
  top: 0.5rem;
  transform: translateX(-20%);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  z-index: 1300;
}

#search-bar {
  position: fixed;
  display: flex;
  height: min-content;
  width: 100%;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  isolation: isolate;
  z-index: 900;
}

.search-bar-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.search-bar-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  background: #fff;
}

.search-bar-input {
  border: none;
  outline: none;
  background: transparent;
}

.search-bar-select {
  border: none;
  outline: none;
  background: transparent;
  appearance: none; /* Elimina la flecha nativa */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2rem; /* Espacio para el ícono */
}

.search-bar-button {
  padding: 0.4rem 1rem;
  border: none;
  background-color: #355c6c;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-bar-icon {
  width: 18px;
  height: 18px;
}

.map-wrapper {
  position: relative;
  background-color: blue;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.map-container {
  height: 80vh !important;
  width: 100%;
}

.leaflet-top.leaflet-left {
  right: 30px;
  left: auto;
  top: 50px;
}

.browser-container {
  position: absolute;
  margin-left: 100px;
  margin-top: 80px;
  width: 20%;
  height: 400px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  z-index: 800;
  isolation: isolate;
}

.dashboard-title {
  text-align: left;
  margin: 0;
  font-size: 1.5rem;
}

.dashboard-content {
  padding: 20px;
  background-color: red;
}
