.databtn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.databtn:hover {
  box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.databtn:focus {
  outline: none;
}

.dashboard {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.metro {
  background-color: rgb(54,59,78) !important;
  color: #fff;
}
.metro2 {
  background-color: #f24c4c !important;
  color: #fff;
}
.metro3 {
  background-color: #28C2D1 !important;
  color: #fff;
}
.default {
  background-color:#fff;
  color: black;
}
.column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items:stretch;
  flex-wrap: nowrap;
}
.column-content {

}
.row-content {
  display:flex;
  justify-content: center;
}
.item{
  flex-basis: 320px;
  height: 40%;
  box-shadow: 3px 3px 1px 0 rgba(230, 230, 230, 1);
  margin: 10px;
  border-radius: 5px;
}
.narrow {
  flex-basis:250px !important;
  max-width:200px !important;
}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }
