/* Indicadores */
*:focus {
  outline: none;
}

.wrapperIndicators {
  padding: 10px;
  box-sizing: border-box;
  margin: 0;
  display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.2fr 1.8fr 1fr;
	gap: 5px 5px;
	grid-template-areas:
	    "leftnav";
  background-color: tomato;
}

.leftnav {
  grid-area: leftnav;
}

.card2 h3 {
  padding: 15px;
	background-color:#32324f;
  color: #f8f8f8;
	transition: all 0.7s cubic-bezier(.25,.8,.25,1);
  border-bottom: 1px solid #e6e6e6;
}

.card2 h4 {
  padding: 15px;
  background-color:#32324f;
  color: #f8f8f8;
	margin-bottom: 10px;
	font-size: 13px;
}
