/* Indicadores */
*:focus {
  outline: none;
}

.wrapperIndicators {
  box-sizing: border-box;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5px 5px;
  grid-template-areas: 'leftnav';
  background-color: #eeeeec;
  min-height: calc(100vh - 269px);
  overflow-y: scroll;
}

.leftnav {
  grid-area: leftnav;
}

.countD {
  font-size: 18px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 25px 0 10px 0;
  border-bottom: 1px solid #e84a5f;
  width: 290px;
  max-width: 290px;
  display: flex;
  justify-content: space-between;
  color: #03344b;
}

.countD svg {
  color: #e84a5f;
  font-size: 22px;
}

.downloadAll {
  fill: #e84a5f;
  border-color: transparent;
  margin-top: -5px;
  cursor: pointer;
}

.cardTitles {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #2a363b;
  padding-bottom: 15px;
}

.card2 h3 {
  padding: 25px 15px 10px 15px;
  background-color: #03344b;
  color: #f8f8f8;
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-bottom: 1px solid #e6e6e6;
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.card2 .text {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.indicatorCard {
  background: #fff;
  margin: 10px;
  width: 300px;
  min-height: 220px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5%;
}

.expandedCard {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 1380px;
  height: 500px;
  border-radius: 1%;
  opacity: 1;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.expandedCard.noshow {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.indicatorCard:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #fecea8;
}

.indicatorCard a,
.expandedCard a {
  border-radius: 50%;
  border: 1px solid #e84a5f;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 40px;
}

.indicatorCard h1,
.expandedCard h1 {
  font-size: 24px;
  text-align: left;
  flex: 1;
  margin-top: 0px;
  color: #2a363b;
  letter-spacing: 1px;
}

.indicatorCard h2,
.expandedCard h2 {
  font-size: 20px;
  color: #107e7c;
  padding-top: 10px;
  text-align: left;
  font-style: normal;
  font-family: 'Lato', sans-serif;
}

.indicatorCard h3,
.expandedCard h3 {
  text-align: left;
  font-size: 14px;
  color: #d49077;
  font-family: 'Lato', sans-serif;
  padding: 0px 0px 0px 5px;
}

.indicatorCard h4,
.expandedCard h4 {
  text-align: left;
  font-size: 14px;
  color: #707070;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  padding: 0px 0px 0px 5px;
}

.expandedCard h4 {
  white-space: pre-line;
}

.links {
  border-left: 1px solid rgba(238, 238, 237, 255);
  padding-left: 8px;
  fill: #e84a5f;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.linkURL {
  fill: #e84a5f;
}

.links *:hover {
  background-color: #e6c6ca;
}

.expandIndicatorButton {
  border-radius: 50%;
  border: 1px solid #e84a5f;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.openFilters {
  background-color: transparent;
  border-color: transparent;
  margin-top: -5px;
  cursor: pointer;
}
