html {
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}

.appSearcher {
  background-color: #eeeeec;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
  height: calc(100vh - 141px);
}
/*Map container*/
.viewfinder {
  margin: 2px;
  padding: 5px;
  border: 0px solid #cccc33;
  background-color: #eeeeec;
  -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
 -webkit-order: 1;
         order: 1;
}
/*All information container*/
.contentView {
	overflow: auto; /* TODO: Ajustar ancho de Selector.js de acuerdo a este estilo*/
  -webkit-flex: 3 1 40%;
          flex: 3 1 40%;
  flex-direction: column;
  -webkit-order: 2;
          order: 2;
}
/*Belongs to contentView*/
.filter {
  background-color: #eeeeec;
  -webkit-flex: 3 1 40%;
          flex: 3 1 40%;
 -webkit-order: 1;
         order: 1;
}
/*Belongs to filter*/
.selector {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.selector h1, .informer h1 {
  padding: 20px;
  background-color: #e84a5f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.2em;
  text-align: left;
  margin: 0;
}

.informer h1 {
  font-size: 1.3em;
  font-weight: 400;
}

.informer h1 b {
  text-transform: none;
  font-weight: 400;
  margin-left: 5px;
}

.iconsection {
  background-image: url(../common/img/geografico.png);
  -webkit-background-size: contain;
  background-size: contain;
  float: right;
  width: 65px;
  height: 65px;
}

.iconsec2 {
  background-image: url(../common/img/compensaciones.png);
  -webkit-background-size: contain;
  background-size: contain;
  float: right;
  width: 65px;
  height: 65px;
}

.mt2 {
  margin-top: 35px;
}

.selector p {
    line-height: 1.5;
    font-size: 15px;
    color: #2a363b;
    padding: 0 25px;
    max-width: 75%;
    margin-top: 12px;
}

.selector p i {
  font-style: normal;
  padding: 0 5px;
  margin-right: 3px;
  border: 1px solid #2a363b;
  color: #2a363b;
}

/*Belongs to filter*/
.informer {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding: 5px 0;
	resize: both;
}

.informer h3 {
	padding: 0;
  margin: 0;
  text-align: center;
	font-weight: bold;
	height: auto;
	font-size: 12px;
  color: #4a585f;
}

/*Belongs to contentView*/

.drawer {
  background-color: #eeeeec;
  font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 5px 8px 0;
  -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
 -webkit-order: 2;
         order: 2;
}

.drawer h3 {
	padding: 0;
  margin: 0;
  text-align: center;
	font-weight: bold;
	height: auto;
	font-size: 12px;
  color: #4a585f;
}

#geocercas,
#proyectos {
    display: block !important;
    padding-top: 0;
}



div[class*="MuiPaper-root-"] {
    margin: 0 !important;
    color: #2a363b;
    font-size: 14px;
}

div[class*="MuiPaper-root-"]:nth-child(1) {
    margin-top:10px;
}

.leaflet-container {
	height: auto;
	padding: 5px;
	border: 0px solid #cccc33;
	background-color: #eeeeec;
	-webkit-flex: 3 1 60%;
					flex: 3 1 60%;
 -webkit-order: 1;
				 order: 1;
  font-family: 'Roboto', sans-serif !important;
  z-index: 0;
}

.leaflet-control-zoom a {
  background-color: #e84a5f;
  color: #fff;
  font-weight: 300;
  border-radius: 0 !important;
}

.leaflet-bar {
  border: 0 !important;
}

#panel1-Geocerca {
  margin-top: 15px !important;
}

#panel1-Geocerca > div:nth-child(1),
#panel1-Centro > div:nth-child(1),
#panel2 > div:nth-child(1),
#panel3 > div:nth-child(1) {
  font-size: 15px;
  background-color: #2a363b;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif !important;
}

#panel1-Geocerca > div:nth-child(1) svg,
#panel1-Centro > div:nth-child(1) svg,
#panel2 > div:nth-child(1) svg,
#panel3 > div:nth-child(1) svg {
  color: #e84a5f;
}

.disabled {
  background-color: #000;
}

div[class*="MuiExpansionPanelSummary-expanded-"] {
  text-transform: uppercase;
}

.inlineb {
  display: inline-block !important;
	margin: 10px 20px;
}

div[id*="panel"] button {
background-color: transparent;
  border: none;
  border-right: 1px solid #2a363b;
  padding: 5px 12px;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  width: 120px;
  min-height: 42px;
  vertical-align: top;
  font-weight: 600;
  color: #979797;
  margin-bottom: 3px;
}

div[id*="panel"] button:hover {
  border-right: 1px solid transparent;
  color: #fff;
  background-color: #e84a5f;
}

/*2do menu graficas*/

.geobtn {
  border: none;
  background-color: transparent;
  color: #e84a5f;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.geobtn svg {
  font-size: 30px;
}

.geobtn:hover {
  color: #2a363b;
  border-bottom: 1px solid #2a363b;
}

.tabs {
  width: 33.33%;
  vertical-align: top;
  margin: 0;
  padding: 0;
  text-align: left;
}

.tabs2 {
  width: 50%;
  max-width: auto;
}

button[class*="MuiTab-selected-"] {
  color: #e84a5f !important;
}

header[class*="MuiPaper-elevation4"] {
  box-shadow: none !important;
  height: auto;
  padding: 0;
}

div[class*="Drawer-root-"]{
  background-color: transparent;
}

div[class*="MuiTypography-body1"],
.graphcontainer {
  margin: 0;
  padding: 15px !important;
  overflow: hidden;
}

button[class*="MuiTab-root"] {
  max-width: 500px !important;
}

.graphcard {
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #fff;
  position: relative;
}

.graphcard h2 {
  border-bottom: 1px solid #e84a5f;
  padding: 10px;
  font-size: 16px;
  display: block;
  text-align: right;
  color: #fff;
  font-weight: 400;
  background-color: #2a363b;
}

.graphcard p {
  padding: 10px;
  text-align: right;
  font-size: 14px;
  color: #424242;
}

.leaflet-popup-tip {
  background-color: rgba(0,0,0,0.9);
}
.leaflet-popup-content-wrapper {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding: 12;
  line-height: 1.5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
}

.nocolor {
  color: transparent;
}
