html {
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
	font-family: 'Lato', sans-serif;
}

.appSearcher {
  background-color: #eeeeec;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
  min-height: 100vh;
}
/*Map container*/
.viewfinder {
  margin: 2px;
  padding: 5px;
  border: 0px solid #cccc33;
  background-color: #eeeeec;
  -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
 -webkit-order: 1;
         order: 1;
}
/*All information container*/
.contentView {
	overflow: auto; /* TODO: Ajustar ancho de Selector.js de acuerdo a este estilo*/
  -webkit-flex: 3 1 40%;
          flex: 3 1 40%;
  flex-direction: column;
  -webkit-order: 2;
          order: 2;
}
/*Belongs to contentView*/
.filter {
  background-color: #eeeeec;
  -webkit-flex: 3 1 40%;
          flex: 3 1 40%;
 -webkit-order: 1;
         order: 1;
}
/*Belongs to filter*/
.selector {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

.selector h1 {
  padding: 20px;
  background-color: #e84a5f;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 28px;
  margin: 0;
}

.selector p {
    line-height: 1.5;
    font-size: 15px;
    color: #2a363b;
    padding: 0 25px;
    max-width: 60%;
}
/*Belongs to filter*/
.informer {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	padding: 5px 8px 0;
	resize: both;
}

.informer h3 {
	padding: 0;
  margin: 0;
  text-align: center;
	font-weight: bold;
	height: auto;
	font-size: 12px;
  color: #4a585f;
}
/*Belongs to contentView*/
.drawer {
  background-color: #eeeeec;
  font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	padding: 5px 8px 0;
  -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
 -webkit-order: 2;
         order: 2;
}

.drawer h3 {
	padding: 0;
  margin: 0;
  text-align: center;
	font-weight: bold;
	height: auto;
	font-size: 12px;
  color: #4a585f;
}

#geocercas {
    display: block !important;
}

.MuiPaper-root-4 {
    margin: 0 !important;
    color: #2a363b;
    font-size: 14px;
}

.leaflet-container {
	height: auto;
	padding: 5px;
	border: 0px solid #cccc33;
	background-color: #eeeeec;
	-webkit-flex: 3 1 60%;
					flex: 3 1 60%;
 -webkit-order: 1;
				 order: 1;
  font-family: 'Roboto', sans-serif !important;
}

.leaflet-control-zoom a {
  background-color: #e84a5f;
  color: #fff;
  font-weight: 300;
  border-radius: 0 !important;
}

.leaflet-bar {
  border: 0 !important;
}


#panel1-Geocerca > div:nth-child(1),
#panel2 > div:nth-child(1),
#panel3 > div:nth-child(1) {
  font-size: 15px;
  text-transform: uppercase;
  background-color: #2a363b;
  color: #fff !important;
  font-family: 'Open Sans', sans-serif !important;
}

#panel1-Geocerca > div:nth-child(1) .MuiSvgIcon-root-46 {
  color: #e84a5f;
}

.disabled {
  background-color: #000;
}

#geocercas {
  padding-top: 0;
}

.backbtn {
  border: none;
  background-color: transparent;
  color: #e84a5f;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.backbtn svg {
  font-size: 30px;
}

.backbtn:hover {
  color: #2a363b;
  border-bottom: 1px solid #2a363b; 
}

div[class*="MuiExpansionPanelSummary-expanded-"] {
  text-transform: uppercase;
}

/*#root {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

*/


