@layer components {
  .loading-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;

    & .loading-wrapper {
      padding: 75px 30px 0;
      width: 260px;
      height: 260px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 1);
      box-sizing: border-box;

      & h2 {
        text-transform: uppercase;
        color: #ea485f;
      }

      & .loading-bars {
        display: flex;
        justify-content: center;
        height: 60px;
        transform: rotate(180deg) scale(1.5);

        & .bar {
          display: inline-block;
          width: 13px;
          height: 15px;
          margin: 0 2px;

          &:nth-last-child(1) {
            animation: loadingA 1.5s 1s infinite;
            background-color: #d65e6e;
          }

          &:nth-last-child(2) {
            animation: loadingA 1.5s 0.5s infinite;
            background-color: #e84a5f;
          }

          &:nth-last-child(3) {
            animation: loadingA 1.5s 0s infinite;
            background-color: #e32759;
          }
        }
      }
    }
  }

  .moduleIcon {
    @apply block w-[65px] h-[65px] bg-contain float-right bg-no-repeat bg-center;

    &.ConsultasGeográficas {
      background-image: url("src/core/assets/geografico.png");
      filter: invert(1);
    }
    &.Indicadores {
      background-image: url("src/core/assets/indicadores.png");
      filter: invert(1);
    }
    &.Portafolios {
      background-image: url("src/core/assets/portafolios.png");
      filter: invert(1);
    }
    &.CompensaciónAmbiental {
      background-image: url("src/core/assets/compensaciones.png");
    }
    &.MonitoreoComunitario {
      background-image: url("src/core/assets/mcomunitario.png");
      filter: invert(1);
    }
  }
}
