.cabezoteRight {
  display: flex;
  align-items: center;
}
h1 {
  color: #2a363b;
  font-size: 30px;
  font-weight: 300;
  margin-top: 30px;
  line-height: 1;
  text-align: center;
}
.cabezoteRight h2 {
  display: inline-block;
  font-size: 2em;
  color: #000000;
  transform: translateY(32%);
  -webkit-transform: translateY(32%);
  padding: 0 8px;
  font-weight: 400;
}
.header_info {
  margin-right: 0;
  background-color: #e9e9e94d;
  padding: 15px 15px;
  text-align: right;
  display: grid;
  grid-auto-flow: column;
  align-self: center;
}
.header_info h1 {
  font-size: 1.2em;
  font-weight: 400;
  color: #747474;
  text-align: right;
  margin: 0;
  padding: 18px;
  display: inline-block;
  vertical-align: middle;
}
.header_info h1 b {
  font-size: 1.3em;
}
.header_info:hover {
  background-color: #e84a5f;
}
.header_info:hover svg,
.header_info:hover h2,
.header_info:hover .Indicadores,
.header_info:hover .Consultasgeográficas,
.header_info:hover .Monitoreocomunitario,
.header_info:hover .Portafolios {
  fill: var(--blanco);
  color: #fff;
  filter: hue-rotate(45deg);
}

header.cabezote {
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  z-index: 10000;
}
header h4 {
  font-weight: 300;
  height: 60px;
  padding: 7px 0;
  margin-right: 30px;
  font-size: 15px;
  color: #6f6f6f;
  line-height: 1.1;
  text-align: right;
}
header h4 b {
  font-weight: 500;
}
header p {
  font-weight: 400;
  padding: 16px 10px 0;
  margin-left: 5px;
  font-size: 30px;
  color: #e84a5f;
  line-height: 1;
  display: inline-block;
}
header p a {
  color: #e84a5f;
}
.ConsultasGeográficas {
  display: block;
  background-image: url("src/core/assets/geografico.png");
  -webkit-background-size: contain;
  background-size: contain;
  filter: invert(1);
  float: right;
  width: 65px;
  height: 65px;
}
.Indicadores {
  display: block;
  background-image: url("src/core/assets/indicadores.png");
  -webkit-background-size: contain;
  background-size: contain;
  filter: invert(1);
  float: right;
  width: 65px;
  height: 65px;
}
.Portafolios {
  display: block;
  background-image: url("src/core/assets/portafolios.png");
  -webkit-background-size: contain;
  background-size: contain;
  filter: invert(1);
  float: right;
  width: 65px;
  height: 65px;
}
.CompensaciónAmbiental {
  background-image: url("src/core/assets/compensaciones.png");
}
.MonitoreoComunitario {
  background-image: url("src/core/assets/mcomunitario.png");
  filter: invert(1);
}
